@import '../../styles/main.scss';

.CardPanels {
    @extend %tabContent;
    flex-wrap: wrap;
    position: relative;

    @include mobile {
        align-items: flex-start;
        height: calc(4 * #{$cardH} + 8 * #{$cardMg});
    }
}
