@import "../../styles/main";

.ButtonsWrapper {
    position: absolute;
    width: $cardWidth;
    height: calc(#{$menuItemHeight} * 3);
    bottom: calc(#{$menuItemHeight} * -3 - #{$cardMargin} * 3);
    right: -$cardMargin;

    @include mobile {
     position: fixed;
        height: $menuHeight;
        top: unset;
        width: calc(#{$maxCardW} * 2);
        left: 0;
        bottom: 0;
        right: unset;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        z-index: 3;
    }
    
}
