$cardHeight: 100px;
$cardWidth: 150px;
$cardMargin: 10px;
$menuItemWidth: 120px;
$menuItemHeight: 35px;
$borderRadius: 4px;

// mobile:

$cardW: 30vw;
$cardH: calc(30vw * 0.67);
$cardMg: 3px;

// breakpoints:

$mobile-width: 470px;

@mixin mobile {
    @media screen and (max-width: #{$mobile-width}) {
        @content;
    }
}

$fontSizes: (
    header: 2rem,
    subheader: 1.5rem,
    button: 1.2rem,
    body: 1rem
);

$colors: (
    violet300: #5d397c,
    green300: #7ad16d,
    primary: #5d397c,
    secondary: #7ad16d,
    light300: rgba(255, 255, 255, 0.3),
    light800: rgba(255, 255, 255, 0.8),
    dark300: rgba(0, 0, 0, 0.3),
    lightgrey: rgba(255, 255, 255, 0.8),
    grey300: rgba(0, 0, 0, 0.3),
    white: #fff,
    black: #000,
);
