$cardWidth: 12vw;
$cardHeight: calc(12vw * 0.67);
$cardMargin: 0.8vw;

$menuItemWidth: 120px;
$menuItemHeight: 35px;
$borderRadius: 4px;
$borderRadiusLarge: 10px;

// mobile:

$cardW: 30vw;
$maxCardW: 120px;
$cardH: calc(30vw * 0.67);
$cardMg: 3px;
$menuHeight: calc(#{$menuItemHeight} * 2);

// breakpoints:

$mobile: 700px;
$laptop: 1240px;

@mixin mobile {
    @media screen and (max-width: #{$mobile}) {
        @content;
    }
}

$fontSizes: (
    header: 2rem,
    subheader: 1.5rem,
    button: 1.2rem,
    body: 1rem
);

$colors: (
    primary: #5d397c,
    secondary: #7ad16d,
    active: #f6fac3,
    accepted: #b8e6b1,
    rejected: #ffa3a6,
    light300: rgba(255, 255, 255, 0.3),
    light800: rgba(255, 255, 255, 0.8),
    dark300: rgba(0, 0, 0, 0.3),
    white: #fff,
    black: #000,
);
