@import '../../styles/main.scss';

.Game {
    @extend %tabContent;
    flex-wrap: wrap;
    position: relative;
    
    @include mobile {
        align-items: flex-start;
        height: calc(6 * #{$cardW} * 0.67 + 12 * #{$cardMg});
        max-height: calc(6 * #{$maxCardW} * 0.67 + 12 * #{$cardMg});   
        max-width: calc(#{$maxCardW} * 3 + #{$cardMg} * 6);
        
    }  
}
