@import '../../App.scss';

.Card {
    width: 150px;
    height: 100px;
    border-radius: 10px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid gray;
    background: #fff;
    position: relative;

    @include mobile {
        width: #{$cardW};
        height: #{$cardH};
        margin: #{$cardMg};
    }
}


.Card-active {
    
    background: rgba(246, 250, 195, 0.979);
    border: 1px solid rgba(246, 250, 195, 1);

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        background: rgba(246, 250, 195, 0.179);
        z-index: 9;
        height: 100%;
        border-radius: 10px;
    }
   
}



.Card-inactive {
   background: white;
   background-blend-mode: normal;
}

.Card-accepted {
   // background: green;
   // background-blend-mode: darken;

    background: rgba(173, 255, 162, 0.179);
    border: 1px solid rgba(82, 150, 73, 0.979);

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 9;
        border-radius: 10px;
        background: rgba(173, 255, 162, 0.179);
    }
    
}

.Card-rejected {
    background: red;
    background-blend-mode: darken;
}