@import '../../App.scss';



.Card {
    width: 150px;
    height: 100px;
    border-radius: 10px;
    margin: 10px;
    display: flex;
    justify-content: center;
    //filter: grayscale(80%);
    align-items: center;
    border: 1px solid gray;
    background: #fff;
  
}