.Card {
    height: 100px;
    width: 150px;
    border: 1px solid indigo;
    display: flex;
    margin: 10px;
    padding: 3px 0;
    justify-content: center;
    align-items: center;
    align-self: flex-start;
    border-radius: 10px;
}
