@import './styles/main.scss';

.App {
  height: 100vh;
  max-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(map-get($colors, green300), map-get($colors, violet300));

  @include mobile {
    align-items: flex-start;
  }
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: map-get($colors, grey300);
}

::-webkit-scrollbar-thumb:hover {
  background: map-get($colors, violet300);
}
