@import './styles/main.scss';

.App {
  height: 100vh;
  max-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: calc(#{$cardHeight} * 0.67);
  background: linear-gradient(map-get($colors, secondary), map-get($colors, primary));

  @include mobile {
    align-items: flex-start;
  }
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: map-get($colors, dark300);
}

::-webkit-scrollbar-thumb:hover {
  background: map-get($colors, primary);
}
