@import "../../App.scss";

.TabWrapper {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: center;
    align-items: flex-start;
    background: rgba(255, 255, 255, 0.3);
    padding: 0.8vw;
    width: 100%; 
    aspect-ratio: 700 / 380;
    @media screen and (min-width: 600px) and (max-width: 1240px) {
        // TODO: display 3 x 4 (tablet)
        // height: calc((#{$cardHeight} + #{$cardMargin} * 2) * 3);
        // width: calc((#{$cardWidth} + #{$cardMargin} * 2) * 4);
    }

    @include mobile {
        width: 100vw;
        padding: 0;
        height: calc(6 * #{$cardH} + 12 * #{$cardMg});
        background: none;
    }
}
